.row{
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.column1{
    width: 50%;
    margin: 3vw;
}
.column2{
    width: 50%;
    margin: 3vw;
}
ul {
    list-style: none;
    background-color: #2f7b91;
    width: 70%;
    height: 13vw;
    margin-top: 2vw;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 3vw;
    color: white;
    font-size: 1.2vw;
    border-radius: 1.5vw; 
    overflow: wrap;
    font-weight: bold;
}
span{
    background-color: #2f7b91;
   
}
ul li{
    background-color: #2f7b91;
}


